.DS_Store

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Gemini
.gemini/

# Environments
.env
.env.*
!.env.example

# Node
node_modules/
package.json
package-lock.json

temp/*
