.ai-modal-container {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: var(--space-1);
  height: 100%;
  padding: var(--space-2);
}

.ai-modal-container.initialised {
  color: var(--color-on-surface);
  background: var(--color-surface);
  border-left: 1px solid var(--color-surface-border, transparent);
  box-shadow: var(--elevation-card, var(--elevation-1));
}

.activate-button {
  grid-row: 1 / 2;
}

.chat-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: var(--space-2);
  padding: var(--space-2);

  grid-row: 1 / 1;
  border: 3px solid var(--color-surface-border, transparent);
  border-radius: var(--radius-s);
  background: var(--color-background, #ffffff);
  overflow-y: auto;
}

.chat-input {
  grid-row: 2 / 2;
  max-height: 200px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-button-filled-bg, transparent);
  border-radius: var(--radius-s);
}

.input-text {
  min-height: 50px;
  max-height: 150px;
  padding: 5px 8px;
  overflow: auto;
  background: inherit;
  field-sizing: content;
  border: none;
  outline: none;
  resize: none;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
}

.buttons-wrapper button svg {
  color: var(--_color);
  fill: currentColor;
}

.ai-modal-chat {
  width: 350px;
  height: 400px;
  font-size: 10px;
  overflow: auto;
}
