.chat-message {
  font-size: var(--font-size-sm);
  line-height: 1.3;
  padding: var(--space-2);
  border: 1px solid var(--color-outline);
  border-radius: 10px;
  white-space: pre-wrap;
}

.chat-message-user {
  background: #00f7f563;
}

.chat-message-system {
  background: #f7a50063;
}

.chat-message-transcript {
  background: #0cf70063;
}
